body {
  font-family: 'Roboto', sans-serif;
  background-color: #242f3c;
  margin: 0;
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242f3c;
  color: white;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.App {
  text-align: center;
  max-width: 95%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  height: 87vh;
}

.chat-container {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
  flex: 1;
  margin-bottom: 20px;
  background-color: #1e1e1e;
}

.message {
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.message.user {
  background-color: #404040;
  text-align: left;
  float: right;
  clear: both;
  margin-right: 10px;
}

.message.bot {
  background-color: #f7f7f7;
  color: #222;
  border: 1px solid #ccc;
}

.message-code {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 1rem;
  font-family: monospace;
  overflow-x: auto;
}

.form-control {
  height: 8vh;
  width: 400px;
  resize: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.input-container button {
  margin-top: 10px;
  padding: 6px 12px;
}

.user-message,
.bot-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.user-message p,
.bot-message p {
  background-color: #1f2c39;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
}

.user-message {
  justify-content: flex-end;
}

.user-message p {
  background-color: #404040;
  color: white;
}

.robot-head {
  width: 50px; /* Adjust the width to your preference */
  height: auto;
  margin-right: 1px;
}

input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: rgb(255, 255, 255);
}

button {
  background-color: #1d6bec;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

textarea.chat-input {
  font-family: 'Roboto', sans-serif;
}

textarea.chat-input::placeholder {
  font-family: 'Roboto', sans-serif;
  /* Add any other styles you want to apply to the placeholder, like color, opacity, etc. */
}

button:hover {
  background-color: #0056b3;
}

/* Media query for smaller screens */
@media screen and (max-width: 420px) {
  .form-control {
    width: 90%;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 750px) {
  .App {
    height: 91vh; /* Adjust the height for larger screens */
  }

  .chat-container {
    width: 75%;
    margin: 0 auto;
  }

  .input-container {
    padding: 20px;
  }
} 

/* Media query for larger screens */
@media screen and (min-width: 950px) {
  .App {
    height: 91vh; /* Adjust the height for larger screens */
  }

  .chat-container {
    width: 65%;
    margin: 0 auto;
  }

  .input-container {
    padding: 20px;
  }
} 

/* Media query for even larger screens */
@media screen and (min-width: 1450px) {
  .App {
    height: 93vh; /* Adjust the height for larger screens */
  }

  .chat-container {
    width: 57%;
    margin: 0 auto;
  }

  .input-container {
    padding: 20px;
  }
}
