.prompts-container {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 100;
  }
  
  .arrow-container {
    cursor: pointer;
    margin-right: 15px;
  }
  
  .arrow-down {
    font-size: 25px;
  }
  
  .list-wrapper {
    position: relative;
  }
  
  .close-icon-container {
    position: absolute;
    bottom: -30px;
    right: 12px;
    cursor: pointer;
  }
  
  .close-icon {
    font-size: 30px;
  }
  
  .list-container {
  }
  
  .prompts-list {
    background-color: #242f3c;
    border: 0.5px solid #cccccc;
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    max-height: 550px;
    overflow-y: auto;
    width: 400px;
  }
  
  .prompts-list li {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
  }
  
  .prompts-list li:last-child {
    border-bottom: none;
  }
  
  .prompts-list li:hover {
    background-color: rgba(0, 0, 0, .5);
  }
  
  @media (max-width: 1350px) {
    .prompts-container {
      right: 3px;
    }
  
    .prompts-list {
      width: calc(100% - 29px);
      margin-left: 16px;
      margin-right: 16px;
      box-sizing: border-box;
    }
  }
  
  