.saved-chats-container {
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75%;
    width: 85%;
    background-color: rgb(37, 35, 35);
    border-radius: 5px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    text-align: center; /* Add this property to center the content */
  }
  
  .saved-chats-container.visible {
    display: block;
  }
  
  .saved-chats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .saved-chats-header h2 {
    margin: 0;
  }
  
  .saved-chats-btn {
    font-size: 13px; /* Adjust the font size */
    padding: 5px 12px; /* Adjust the padding */
  }

  .saved-chats-list {
    list-style-type: none;
    padding: 0; /* Remove the padding */
  }

  .saved-chats-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .saved-chat-preview {
    margin-left: 10px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px; /* Add this line */
    margin-bottom: 5px; /* Add this line */
}
  
  .delete-chat-btn, .load-chat-btn {
    border: 0.5px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    height: 28px;
    line-height: 10px;
    margin-left: 1px;
    padding: 5px 2px;
    text-align: center;
    width: 60px;
    min-width: 60px; /* Add this line */
    max-width: 60px; /* Add this line */
    margin-top: 5px; /* Add this line */
    margin-bottom: 5px; /* Add this line */
}

.load-chat-btn {
  background-color: #0056b3; /* Set the blue color for the load chat button */
}

.delete-chat-btn {
  background-color: #d12c2c; /* Set the red color for the delete chat button */
}

.load-chat-btn:hover {
  background-color: #1c86ee; /* Set a slightly darker blue color for the hover state */
}

.delete-chat-btn:hover {
  background-color: #ff3333; /* Set a slightly darker red color for the hover state */
}
  
@media screen and (min-width: 1350px) {
    .saved-chats-container {
      max-width: 50%;
    }
  }
